duckduckgo_search==5.3.1b1
einops
fastapi
#git+https://github.com/InternLM/lagent.git
lagent @ git+https://github.com/InternLM/lagent.git@v1.0.0
gradio
janus
lmdeploy
pyvis
sse-starlette
schemdraw
termcolor
transformers==4.41.0
uvicorn
python-dotenv